.img {
  display: flex;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--backgroundImage);
}
.img > * {
  flex: 1;
}

.file-upload {
  display: none;
}
@media only screen and (min-width: 500px) {
  #form-file-upload {
    text-align: center;
    position: relative;
  }
  #input-file-upload {
    display: none;
  }
  #label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    background-color: transparent;
    border: var(--input-border);
    border-style: dashed;
    border-radius: var(--input-border-radius);
  }
  #label-file-upload:hover {
    border: var(--input-border-hover);
    border-style: dashed;
    /* background: var(--input-bg-dragAndDrop); */
  }
  #label-file-upload.drag-active {
    border: 2px solid blue;
    border-style: dashed;
  }
  .upload-button {
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid transparent;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    gap: 1rem;
  }
  .upload-button:hover {
    background-color: rgb(73, 73, 73);
  }
  #drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  #label-file-upload div {
    background-color: rgba(250, 250, 250, 0.8);
    padding: 3rem;
    border-radius: 5px;
  }
  #label-file-upload div:hover {
    background-color: rgba(250, 250, 250, 1);
  }
  .dragAndDropLabel {
    display: none;
  }
  .file-upload {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .img {
    display: none;
  }
  .file-upload {
    border: 2px dashed rgb(27, 117, 81);
    color: white;
    background-color: rgb(42, 167, 116);
  }
  .file-upload:hover {
    background-color: rgb(27, 117, 81);
    outline: 2px dashed rgb(169, 227, 243);
    outline-offset: 1px;
  }
}
