.img {
  /* display: flex;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--backgroundImage); */
}
.img > * {
  /* flex: 1; */
}

.file-upload {
  display: none;
}
#form-file-upload {
  height: 100%;
  text-align: center;
  position: relative;
}
#input-file-upload {
  display: none;
}
#label-file-upload {
  /* height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  background-color: transparent;
  border: var(--input-border);
  border-style: dashed;
  border-radius: var(--input-border-radius); */
}
#label-file-upload:hover {
  /* border: var(--input-border-hover); */
  /* border-style: dashed; */
  /* background: var(--input-bg-dragAndDrop); */
}
/* #label-file-upload.drag-active {
  border: 2px solid blue;
  border-style: dashed;
} */
#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.dragAndDropLabel {
  display: none;
}
.file-upload {
  display: none;
}
