@font-face {
  font-family: "AbstractGroovy";
  src: url("../assets/fonts/aAbstractGroovy.otf");
}
:root {
  --font-groovy: "AbstractGroovy";
}
body {
  --white: #ffffff;
  --tan: #f6f0e1;
  --black: #201e1b;
  --darkgreen: #324934;
  --yellow: #fccd15;
  --orange: #fd6036;
  /* CSS HEX */
  --antique-white: #f1e6d6ff;
  --jet: #333333ff;
  --cinnabar: #e55c3fff;
  --xanthous: #fbc667ff;
  --non-photo-blue: #a0d6dcff;
  --emerald: #5eca85ff;
  --fairy-tale: #e8c1c9ff;
  --african-violet: #9184b1ff;
  --rainbow-gradient: linear-gradient(
    135deg,
    rgba(219, 188, 246, 1) 0%,
    rgba(237, 215, 252, 0.91) 24%,
    rgba(238, 223, 225, 0.8) 51%,
    rgba(238, 226, 214, 0.84) 62%,
    rgba(211, 226, 241, 0.87) 69%,
    rgba(211, 226, 241, 1) 100%
  );
  --mui-sunset-yellow: #fddea6;
  --mui-sunset-brown: #775653;
  --mui-sunset-pink: #fddad6;
  --mui-sunset-red: #fa8981;
  --mui-sunset-yellow: #fddea6;
  --rainbow-gradient2: linear-gradient(
    135deg,
    #dbbcf6 0%,
    #eed9fc 24%,
    #eddee0 51%,
    #eee3d7 62%,
    #d4e3f2 69%
  );
}

body {
  background-color: #eae3d8;
  background-image: url(../assets/images/bg-tan3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Mukta Mahee", sans-serif;
}
